body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #d0d1d3;
    background: url('https://cdn.pixabay.com/photo/2017/04/10/15/04/spring-2218771_1280.jpg') bottom no-repeat;
}

h1 {
    font-size: 8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(27, 4, 176);
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(125, 125, 125);
    background-color: rgba(240, 243, 220, 0.5);
}

article:nth-child(even) {
    background-color: rgba(220, 243, 242, 0.5);
}

article a {
    color: rgb(44, 3, 3);
    text-decoration: none;
}

article a:hover {
    color: rgb(9, 9, 141);
}

.new::after {
    content: "New";
    margin-left: 10px;
    color: rgba(255, 66, 66, 0.8);
    font-size: 14px;
    font-style: italic;
    vertical-align: super;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    color: rgb(0, 0, 77);
}

.article-meta {
    color: rgb(10, 54, 54);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

p {
    font-size: 18px;
    text-align: justify;
}

p::first-letter {
    font-weight: bold;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: rgb(25, 0, 255);
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(182, 32, 6);
    font-family: 'Times New Roman', Times, serif;
}